<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>

		<typeAlias type="com.incbook.project.domain.MemberVO" alias="MemberVO" />
		<typeAlias type="com.incbook.project.domain.BookVO" alias="BookVO" />
		<typeAlias type="com.incbook.project.domain.AnnouncementVO" alias="AnnouncementVO" />
		<typeAlias type="com.incbook.project.domain.PartyVO" alias="PartyVO" />
		<typeAlias type="com.incbook.project.domain.BookclubVO" alias="BookclubVO" />
		<typeAlias type="com.incbook.project.domain.BoardVO" alias="BoardVO" />
		<typeAlias type="com.incbook.project.domain.NoticeVO" alias="NoticeVO" />
	
		<typeAlias type="com.incbook.project.domain.RealationVO" alias="RealationVO" />
		<typeAlias type="com.incbook.project.domain.OwnVO" alias="OwnVO" />
		<typeAlias type="com.incbook.project.domain.PaymentVO" alias="PaymentVO" />
		<typeAlias type="com.incbook.project.domain.PersonalizationVO" alias="PersonalizationVO" />
	</typeAliases>

</configuration>