@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	font-family: 'Nanum Gothic';
}
/* h5 {
	font-family: 'Noto Sans KR';
	font-size: 15px;
}
h4 {
	font-family: 'Noto Sans KR';
}
h3 {
	font-family: 'Hanna';
}*/
h2 {
	font-family: 'Nanum Gothic';
} 
h1 {
	font-family: 'Nanum Gothic';
}

.board_name {
	padding-top: 50px;
}

.board_pd {
	padding-top: 50px;
}

.form_all .sign__up__form label {
   font-size: 22px;
   font-weight: bold;
}

.custom__center {
	text-align: center;
}

.text-green {
    color: #16a085;
}
.text-orange {
    color: #f39c12;
}
.text-red {
    color: #e74c3c;
}      

.img-circle {
	width: 30px;
	height: 30px;
}

/* chargeHistory css */
.pc_history {
	padding-top: 20px;
}
.ch_center th, td {
	text-align: center !important;
}
.imsi_set {
	padding-top: 120px;
	padding-bottom: 20px !important;
}
.page_pb_40 {
	padding-bottom: 40px;
}
#logIO_footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:60px;
   width:100%;
   color: #000000;
   display: none;
   z-index: 10;
}
#logIO_footer p {
   text-align: center;
   font-size: 30px;
   font-weight: bold;
   padding-top: 20px;
}

.mg_bottom80 {
	margin-bottom: 80px;
}

.button_form button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #333;
    color: #333;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    text-transform: uppercase;
    transition: all 0.4s ease 0s; 
    margin: 18px 0;
}
.button_form button:hover {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border-color: #e59285;
      color: #e59285; 
}

.trade_ok {
	float: right;
}
.item_inLine li{
	display: inline;
}


.form_all .input__box {
	margin: 0 0 15px; 
}
.form_all .input__box label {
	margin: 0 0 10px;
	line-height: 2;
	color: #333;
	font-size: 16px;
	display: block; 
}
.form_all .input__box label span {
        color: #e59285; }
    .form_all .input__box input {
      background: #fff none repeat scroll 0 0;
      border: 1px solid #e1e1e1;
      border-radius: 0;
      height: 40px;
      width: 100%;
      padding: 0 0 0 10px; }
  .form_all .form__btn button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #ddd;
    color: #333;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 20px 0;
    text-transform: uppercase;
    transition: all 0.4s ease 0s; }
    .form_all .form__btn button:hover {
      background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
      border-color: #e59285;
      color: #e59285; }
  .form_all .form__btn span {
    color: #333;
    font-size: 12px; }
  .form_all .forget_pass {
    color: #e59285;
    font-size: 12px;
    margin-top: 18px;
    display: inline; }

.form_all .form__btn .label-for-checkbox {
  margin-bottom: 0;
  margin-left: 10px; }
  
.radius {
	border-radius: 20px;
} 
.btn_ri {
	margin-left: 12px;
}
.cus_line {
	margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 3px solid #e1e1e1;
}
.cus_line:last-child {
    border: none;
}
.cus_title {
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
	padding: 10px 0 ;
	text-align: center;
}

.form-field {
	width: 150px;
}

.book_pd_t20 {
	padding-top: 20px;
}

.ch_m0 {
	margin: 0px;
}

.pick_money {
	margin: 2px 0 !important;
}

.right1 {
	display: inline-block !important;
}

.input_width {
	width: 86% !important;
	margin-left: 5px;
}

.input_width2 {
	width: 80% !important;
	margin-left: 5px;
}

.al_center {
	border-top: 1px solid #e1e1e1;
	text-align: center;
}
.al_center button {
	margin: 20px 10px 0 10px;
}

.title_size {
	font-size: 28px;
	padding: 12px;
	color: #e59285;
}
.nav_width1 {
	width: 160px !important;
}

.ss{
	font-size: 20px;
}

.hd_white {
	background-color: white;
	height: 120px;
}

.size_up {
	font-size: 18px !important;
	/* margin-left: 21px !important; */
	margin-top: 18px !important;
	padding: 0 13px !important;
}
.size_up2 {
	margin-top: 11px !important;
	padding-right: 40px !important;
}
.search_left {
	margin-right: 15px;
}
.loogoo {
	padding-top: 6px !important;
}

.font_size_up {
	font-size: 20px !important;
	font-weight: bold;
}

.nav_rright {
	margin-left: 20px;	
}

.rwd-table {
	border-collapse: collapse;
	border-radius: 1em;
	overflow: hidden;
	background: #34495E;
  	color: #fff;
}
.rwd-table th, .rwd-table td:before {
    color: #dd5;
}

.hover1 .gr03 .gg li {
	padding: 3px 12px;
	display: inline-block;
}

.hover2 .gr03 .gg li {
	padding: 3px 12px;
	display: inline-block;
}

.hover1 .gr03 .gg li {
	padding: 3px 12px;
	display: inline-block;
}

.hover2 .gr03 .gg li {
	padding: 3px 12px;
	display: inline-block;
}