@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	font-family: 'Nanum Gothic';
}
/* h5 {
	font-family: 'Noto Sans KR';
	font-size: 15px;
}
h4 {
	font-family: 'Noto Sans KR';
}
h3 {
	font-family: 'Hanna';
}*/
h2 {
	font-family: 'Nanum Gothic';
} 
h1 {
	font-family: 'Nanum Gothic';
}

.board_name {
	padding-top: 50px;
}

.board_pd {
	padding-top: 50px;
}

.account__form .sign__up__form label {
   font-size: 22px;
   font-weight: bold;
}
