<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my_incbook.mapper.bookclubMapper">
	<resultMap id="partyMap" type="PartyVO">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="regdate" column="regdate" />
	</resultMap>


	<resultMap id="bookclubMap" type="BookclubVO" extends="partyMap">
		<id property="id" column="id" />
		<result property="genre" column="genre" />
	</resultMap>

	<resultMap id="boardMap" type="BoardVO">
		<id property="id" column="id" />
		<result property="bookclubId" column="bookclub_id" />
		<result property="title" column="title" />
	</resultMap>

	<resultMap id="noticeMap" type="NoticeVO">
		<id property="id" column="id" />
		<result property="boardId" column="board_id" />
		<result property="memberId" column="member_id" />
		<result property="regdate" column="regdate" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="viewCount" column="view_count" />
	</resultMap>
	
	<resultMap id="noticeMapWithMember" type="NoticeVO">
		<id property="id" column="id" />
		<result property="boardId" column="board_id" />
		<result property="memberId" column="member_id" />
		<result property="regdate" column="regdate" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="viewCount" column="view_count" />
		<association property="member" column="id" javaType="MemberVO">
			<id property="id" column="mid" />
			<result property="loginId" column="login_id" />
			<result property="password" column="password" />
			<result property="address" column="address" />
			<result property="email" column="email" />
			<result property="phone" column="phone" />
			<result property="nickname" column="nickname" />
			<result property="grade" column="grade" />
			<result property="jumin" column="jumin" />
			<result property="point" column="point" />
			<result property="good" column="good" />
			<result property="hate" column="hate" />
		</association>
	</resultMap>



	<select id="bookclubList" resultMap="bookclubMap">
		<![CDATA[
		select 
		b.id, b.genre, p.id, p.name, CONVERT_TZ(p.regdate, "+0:00","-9:00") AS regdate
		from bookclub b
			join party p
			on p.id=b.id
		where p.id > 0 order by p.id desc
		limit #{pageStart},#{pagesize}
		
		]]>
	</select>

	<select id="boardList" resultMap="boardMap">
		<![CDATA[
		select 
		*
		from board where bookclub_id = #{bookclubId}
		]]>
	</select>


	<insert id="bookclubInsert">
		insert into bookclub (id, genre) values (#{party.id},
		#{bookclub.genre})
	</insert>

	<insert id="boardInsert">
		insert into board (title, bookclub_id) values
		(#{title},#{bookclubId})
	</insert>

	<insert id="noticeInsert">
		insert into notice (board_id, member_id, title,
		content) values (#{boardId}, #{memberId}, #{title}, #{content})
	</insert>

	<select id="listSearchCount" resultType="int">
		<![CDATA[
		select count(id)
		from bookclub
		where id > 0
		]]>
	</select>

	<update id="updateBookclub">
		update bookclub set
		genre = #{bookclub.genre}
		where id
		= #{party.id}
	</update>

	<update id="updateBoard">
		update board set
		title = #{title}
		where id = #{id}
	</update>

	<select id="readBookclub" resultMap="bookclubMap">
		<![CDATA[
		select 
		*
		from bookclub b
			join party p
			on p.id=b.id
			where p.id = #{bookclubId}
		]]>
	</select>

	<select id="readBoard" resultMap="boardMap">
		<![CDATA[
		select 
		*
		from board
		where id = #{boardId}
		]]>
	</select>

	<delete id="deleteBookclub">
		delete from bookclub where id = #{bookclubId}
	</delete>

	<delete id="deleteAllBoard">
		delete from board where bookclub_id = #{bookclubId}
	</delete>

	<delete id="deleteBoard">
		delete from board where id = #{boardId}
	</delete>

	<delete id="deleteAllNotice">
		delete from notice where board_id = #{boardId}
	</delete>

	<delete id="deleteNotice">
		delete from notice where id = #{noticeId}
	</delete>

	<select id="noticeList" resultMap="noticeMap">
		<![CDATA[
		select 
		id, title, member_id, CONVERT_TZ(regdate, "+0:00","-9:00") AS regdate, view_count
		from notice where board_id = #{boardId} order by id desc
		limit #{cri.pageStart},#{cri.pagesize}
		]]>
	</select>

	<select id="readNotice" resultMap="noticeMapWithMember">
		<![CDATA[
		select 
		n.id, n.board_id, n.title, n.member_id, CONVERT_TZ(n.regdate, "+0:00","-9:00") AS regdate, n.content, n.view_count
		,m.nickname
		from notice n
		join member m
			on n.member_id=m.id
		where n.id = #{noticeId}
		]]>
	</select>

	<update id="updateNoticeViewCount">
		update notice set view_count = view_count +1
		where id
		= #{noticeId}
	</update>

	<update id="updateNotice">
		update notice set
		title = #{title} ,
		content =
		#{content}
		where id = #{id}
	</update>

	<select id="boardIdList" resultType="int">
		select
		id
		from board where
		bookclub_id = #{bookclubId}
	</select>

	<select id="bookclubNameOfReadNotice" resultMap="bookclubMap">
		select 
		*
		from bookclub b
			join party p
			on p.id=b.id
		where b.id = #{bookclubId}
	</select>

	<select id="boardTitleOfReadNotice" resultMap="boardMap">
		select
		*
		from board where
		id = #{boardId}
	</select>
	<!--검색기능추가 -->

	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 'name'.toString()">
				and p.name like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'genre'.toString()">
				and genre like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="bookclubSearchList" resultMap="bookclubMap">
<![CDATA[
	select 
		b.id, b.genre, p.id, p.name, CONVERT_TZ(p.regdate, "+0:00","-9:00") AS regdate
		from bookclub b
			join party p
			on p.id=b.id
		where p.id > 0 
]]>

		<include refid="search"></include>
		
<![CDATA[
order by p.id desc
		limit #{pageStart},#{pagesize}
		]]>
	</select>

	<select id="bookclubListSearchCount" resultType="int">
		<![CDATA[
		select count(p.id)
		from bookclub b
		join party p
			on p.id=b.id
		where p.id > 0
		]]>

		<include refid="search"></include>
	</select>


	<sql id="searchNotice">
		<if test="cri.searchType != null">
			<if test="cri.searchType == 'title'.toString()">
				and title like CONCAT('%', #{cri.keyword}, '%')
			</if>
			<if test="cri.searchType == 'memberId'.toString()">
				and member_id like CONCAT('%', #{cri.keyword}, '%')
			</if>
		</if>
	</sql>

	<select id="noticeSearchList" resultMap="noticeMapWithMember">
<![CDATA[
	select 
	n.id, n.title, n.member_id, CONVERT_TZ(n.regdate, "+0:00","-9:00") AS regdate, n.view_count
	,m.nickname	
		from notice n
		join member m
			on n.member_id=m.id
	    where board_id = #{boardId} 
]]>

		<include refid="searchNotice"></include>
		
<![CDATA[
order by n.id desc
		limit #{cri.pageStart},#{cri.pagesize}
		]]>
	</select>

	<sql id="searchNoticeCount">
		<if test="searchType != null">
			<if test="searchType == 'title'.toString()">
				and title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="searchType == 'memberId'.toString()">
				and member_id like CONCAT('%', #{keyword}, '%')
			</if>
		</if>
	</sql>
	<select id="noticeListSearchCount" resultType="int">
		<![CDATA[
		select count(id)
		from notice
		where id > 0
		]]>

		<include refid="searchNoticeCount"></include>
	</select>



</mapper>