<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my_incbook.mapper.memberMapper">
	<resultMap id="partyMap" type="PartyVO">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="regdate" column="regdate" />
	</resultMap>

	<resultMap id="memberMap" type="MemberVO" extends="partyMap">
		<id property="id" column="id" />
		<result property="loginId" column="login_id" />
		<result property="password" column="password" />
		<result property="address" column="address" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="nickname" column="nickname" />
		<result property="grade" column="grade" />
		<result property="jumin" column="jumin" />
		<result property="point" column="point" />
		<result property="good" column="good" />
		<result property="hate" column="hate" />
	</resultMap>

	<select id="checkIdPassword" resultMap="memberMap">
		<![CDATA[
		select 
		    p.id, p.name, p.regdate, m.id,
			m.login_id, m.password, m.address, m.email,
			m.phone, m.nickname, m.grade, m.jumin,
			m.point, m.good, m.hate
		from member m
	    	join party p
	    	on p.id=m.id
		where login_id = #{loginId} and password = #{password} 
		]]>
	</select>

	<select id="memberInfo" resultMap="memberMap">
		select
		*
		from member m
		join party p
		on p.id=m.id
		where m.id = #{memberId}
	</select>

	<select id="findMemberById" resultMap="memberMap">
		select
		*
		from member m
		join party p
		on p.id=m.id
		where m.id = #{id}
	</select>


	<select id="loginIdCeheck" resultType="String">
		select login_id from
		member
		where login_id = #{loginId}
	</select>

	<select id="passwordCheck" resultType="MemberVO">
		select * from member
		where
		id = #{id} and password = #{password}
	</select>
	
	<select id="findMemberByLoginIdAndJumin" resultType="MemberVO">
		select * from member
		where
		login_id = #{loginId} and jumin = #{jumin}
	</select>

	<insert id="signUp" parameterType="Map">
		insert into member(id,
		login_id, password, jumin, nickname, phone, address, email, grade)
		values(#{party.id}, #{member.loginId}, #{member.password},
		#{member.jumin},
		#{member.nickname}, #{member.phone}, #{member.address}, #{member.email}, '회원')
	</insert>

	<update id="memberModify">
		update member set
		password = #{member.password}, jumin = #{member.jumin},
		nickname = #{member.nickname}, phone = #{member.phone},
		address = #{member.address}, email = #{member.email}
		where id = #{party.id}
	</update>

	<delete id="memberDelete">
		delete from member where id = #{id}
	</delete>


	<update id="pointSpend">
		update member set
		point = point - #{point.totalAmount}
		where id = #{memberId}
	</update>

	<update id="pointCharge">
		update member set
		point = point + #{point}
		where id = #{memberId}
	</update>

	<update id="roulettePoint">
		update member set
		point = point + #{point}
		where id = #{vo.id}
	</update>
	
	<update id ="endOfTradeAmountOwner">
		update member set 
			point = point + #{totalAmount}
		where id = #{own.memberId}
	</update>

	<update id ="endOfTradeAmountLender">
		update member set 
			point = point + #{totalAmount}
		where id = #{memberId}
	</update>
	
	<update id ="passwordChange">
		update member set 
			password = #{password}
		where id = #{id}
	</update>
	
	
</mapper>