<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my_incbook.mapper.memberMapper">
	
	<select id="checkIdPassword" resultType="com.incbook.project.domain.MemberVO">
		<![CDATA[
		select 
		*
		from member 
		where login_id = #{loginId} and password = #{password} 
		]]>
	</select>
	
	<insert id="signUp" parameterType="Map">
		insert into member(id, login_id, password, jumin, nickname, phone, address, email, grade) 
		values(#{party.id}, #{member.loginId}, #{member.password}, #{member.jumin}, 
			   #{member.nickname}, #{member.phone}, #{member.address}, #{member.email}, '회원')
	</insert>
	
	<select id="loginIdCeheck" resultType="String">
		select login_id from member
		where login_id = #{loginId}
	</select>
</mapper>