<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my_incbook.mapper.partyMapper">
	
	<insert id="partyInsert" parameterType="PartyVO" useGeneratedKeys="true" keyProperty="id">
		insert into party(name) 
		values(#{name})
	</insert>

	<update id="partyModify">
		update party set name = #{name}
		where id = #{id}
	</update>
	
	<delete id="partyDelete">
		delete from party where id = #{id}
	</delete>
</mapper>