<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my_incbook.mapper.paymentMapper">
	<resultMap id="PaymentVO" type="PaymentVO">
		<result property="memberId" column="member_id" />
		<result property="paymentPrice" column="payment_price" />
	</resultMap>
	
	<insert id="insertPoint">
		insert into payment(member_id, payment_price, point) 
		values(#{memberId}, #{paymentPrice}, #{point})
	</insert>
	
	<select id="historyAll" resultMap="PaymentVO">
		<![CDATA[
			select 
			    member_id, payment_price, point, regdate
			from payment
			where id > 0 order by id desc 
		]]>
	</select>
</mapper>