<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="my_incbook.mapper.personalizeMapper">
	<resultMap id="PersonalizationVO" type="PersonalizationVO">
		<result property="memberId" column="member_id" />
	</resultMap>
	
	<select id="findPersonalByMemberId" resultType="String">
		select genre from personalization 
		where member_id = #{id}
	</select>
	
	<select id="maxTradeGenre" resultType="String">
		select genre 
		from (
				select b.genre, count(b.genre) count
            	from trade t
				join own o
            		on t.own_id = o.id
            	join book b
            		on o.book_id = b.id
            	where t.member_id = #{id}
            	group by genre
            	order by count desc
            	limit 0, 3
            ) genre
	</select>
	
	<select id="maxOwnGenre" resultType="String">
		select genre 
		from (
	            select genre, count(genre) count
	            from own o
	            join book b
					on o.book_id = b.id
	            where member_id = #{id}
	            group by genre
	            order by count desc
	            limit 0, 3
            ) genre
	</select>
	
	<insert id="insertPersonalChoice" parameterType="java.util.Map">
		insert into personalization(member_id, genre) 
		values
		<foreach item="genre" index="index" collection="genreList" open="" separator="," close="">
				(#{memberId}, #{genre})
		</foreach>
		
	</insert>

	<delete id="deletePersonalChoice">
		delete from personalization 
		where member_id = #{memberId}
	</delete>
</mapper>